<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao BioMap</title>
</head>
<body>
    <h1>Bem-vindo ao BioMap</h1>
    <nav>
        <ul>
            <li><a href="{% url 'cadastro_usuario' %}">Cadastrar Usuário</a></li>
            <li><a href="{% url 'cadastro_animal' %}">Cadastrar Animal</a></li>
            <li><a href="{% url 'pesquisa' %}">Pesquisar Animais</a></li>
            
        </ul>
    </nav>
</body>
</html>
