{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Resultados da Pesquisa</h2>
    
    {% if animais %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome Científico</th>
                    <th>Nome Comum</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>Bioma</th>
                </tr>
            </thead>
            <tbody>
                {% for animal in animais %}
                    <tr>
                        <td>{{ animal.nome_cientifico }}</td>
                        <td>{{ animal.nome_comum }}</td>
                        <td>{{ animal.categoria }}</td>
                        <td>{{ animal.estado }}</td>
                        <td>{{ animal.bioma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum animal encontrado.</p>
    {% endif %}
</div>
{% endblock %}
