{% extends "base.html" %}

{% block content %}
<div>
    <h1>Resultados da Pesquisa</h1>
    
    {% if animais %}
        {% for animal in animais %}
            <div>
                <div>
                    <h2>{{ animal.nome_cientifico }}</h2>
                    <h3>{{ animal.nome_comum }}</h3>
                    <h4>Reino:</h4> <p> {{ animal.reino }} </p>
                    <h4>Filo:</h4> <p>{{ animal.filo }}</p>
                    <h4>Classe:</h4> <p>{{ animal.classe }}</p>
                    <h4>Ordem:</h4> <p>{{ animal.ordem }}</p>
                    <h4>Família:</h4> <p>{{ animal.familia }}</p>
                    <h4>Gênero:</h4> <p>{{ animal.genero }}</p>
                    <h4>Categoria:</h4> <p>{{ animal.categoria }}</p>
                    <h4>Endêmico do Brasil:</h4> <p>{{ animal.endemica_brasil|yesno:"Sim,Não" }}</p>
                    <h4>Região:</h4> <p>{{ animal.regiao }}</p>
                    <h4>Bioma:</h4> <p>{{ animal.bioma }}</p>
                    <h4>Justificativa:</h4> <p>{{ animal.justificativa }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum animal encontrado.</p>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'pesquisa' %}" class="btn-search">Nova Pesquisa</a>
    <br>
    <br>
</div>
{% endblock %}
