/* Estilização do site. Variaveis de cor, fonte, tamanho, etc. */
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #1E5544;
    --secondary-color: #E9B436;
    --tertiary-color: rgb(230, 125, 55);
    --alert-color: #D32F2F;
    --font-color: #0A0A0A;
    --background-color: #FEFEFE;
    --font-size-h1: 2.5rem; /* 40px */
    --font-size-h2: 2rem;   /* 32px */
    --font-size-h3: 1.5rem; /* 24px */
    --font-size-h4: 1.2rem; /* 19.2px */
    --font-size-h5: 1rem;   /* 16px */
    --font-size-h6: 0.8rem; /* 12.8px */
    --font-size-p: 1rem;    /* 16px */
    --font-size-small: 0.8rem; /* 12.8px */
}

body{
    font-family: 'Tahoma', sans-serif;
    background-color: var(--background-color);
}

h1{
    font-size: var(--font-size-h1);
    color: var(--primary-color);
    font-family: 'Knewave', cursive;
}
h2{
    font-size: var(--font-size-h2);
    color: var(--primary-color);
}
h3{
    font-size: var(--font-size-h3);
    color: var(--font-color);
}
h4{
    font-size: var(--font-size-h4);
    color: var(--font-color);
}
h5{
    font-size: var(--font-size-h5);
    color: var(--font-color);
}
h6{
    font-size: var(--font-size-h6);
    color: var(--font-color);
}
p{
    font-size: var(--font-size-p);
    color: var(--font-color);
}
small{
    font-size: var(--font-size-small);
    color: var(--tertiary-color);
}


/* HEADER FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* CONTAINER FLEX */
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: #0A0A0A;
}

/* BARRA DE PESQUISA */
#search-box {
    display: block;
    width: 100%;
    max-width: 500px;       /* Limita a largura máxima */
    margin: 20px auto;      /* Centraliza horizontalmente com margem vertical */
    padding: 10px 15px;     
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* LOGO */
.logo {
    height: 80px;
}

/* MENU DESKTOP */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 15px;
}

.menu a {
    text-decoration: none;
    color: var(--background-color);
    background-color: var(--secondary-color);
    padding: 12px 20px;
    border-radius: 5px;
    display: block;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: var(--tertiary-color);
}

/* MENU MOBILE */
.menu-mobile {
    display: none;
    font-size: 30px;
    color: var(--background-color);
    cursor: pointer;
}


/* Estilo para a lista de sugestões */
#suggestions {
    list-style: none;
    padding: 0;
    margin: 10px auto;
    max-width: 500px;
    background-color: #f8f9face;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#suggestions li {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: var(--secondary-color); /* Amarelo */
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

#suggestions li:last-child {
    border-bottom: none;
}

#suggestions li:hover {
    background-color: var(--tertiary-color); /* Vermelho no hover */
    color: white;
}

/* Último item sem borda */
#suggestions li:last-child {
    border-bottom: none;
}

/* Hover dos itens */
#suggestions li:hover {
    background-color: var(--tertiary-color); /* vermelho */
    color: white;
}

/* Estilo do aviso de “Nenhum resultado” */
#suggestions .text-danger {
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: #fdf2f2;
}




/* footer */
.main_footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    display: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

.footer_text {
    text-align: center;
    font-size: 0.9em;
    color: var(--background-color);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer_social {
    text-align: center;
    margin-bottom: 10px;
}

.footer_social h3 {
    font-size: 1.2em;
    color: var(--secondary-color);
    margin-bottom: 8px;
}


.footer_center {
    text-align: center;
    max-width: 38rem;
    margin-bottom: 3rem;
}

.footer_center img {
    width: 5rem;
    margin-bottom: 10px;
}

/* Links do Menu (Direita) */
.footer_menu {
    text-align: right;
}

.footer_menu h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.footer_menu ul {
    list-style: none;
    padding: 0;
}

.footer_menu ul li {
    margin-bottom: 5px;
}

.footer_menu ul li a {
    color: var(--background-color);
    text-decoration: none;
    transition: 0.3s;
}

.footer_menu ul li a:hover {
    color: var(--secondary-color);
}

/* Estilos do primeiro texto */
.footer_slogan {
    font-size: 1em;
    font-style: italic;
    color: var(--secondary-color);
    word-wrap: break-word;
    line-height: 1.3;
    text-align: center;
}

/* Estilos do segundo texto */
.footer_mission {
    font-size: 1.1em;
    font-style: italic;
    color: var(--background-color);
    word-wrap: break-word;
    line-height: 1.3;
    margin-top: 8px;
    text-align: center;
}

.footer_logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer_logo p {
    font-size: 0.9em;
    font-style: italic;
    color: var(--background-color);
}